<body>
    <header class="">
        <nav class="navbar navbar-expand-lg bg-secondary fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="assets/img/APLogo-20-20.png" alt="logo arg programa" width="20%" height="auto">
                </a>
            </div>
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item"><a href="https://www.instagram.com" target="blank"><i class="fa-brands fa-square-instagram fa-2xl "><span id="titulo">Instagram</span></i></a>
                </li>
                <li class="list-group-item"><a href="http://www.facebook.com" target="blank"><i class=" fa-brands
                        fa-facebook fa-2xl"><span id="titulo">Facebook</span></i></a></li>
                <li class="list-group-item"><a href="http://www.linkedin.com" target="blank"><i
                            class="fa-brands fa-linkedin-in fa-2xl"><span id="titulo">Linkedin</span></i></a></li>
                <li class="list-group-item"><a href="http://www.github.com" target="blank"><i
                            class="fa-brands fa-github fa-2xl"><span id="titulo">Github</span></i></a></li>
                <!-- Button trigger modal -->
                <li class="list-group-item"><a><i class="fa-solid fa-user-lock fa-2xl" type="button" class="btn btn-primary"
                            data-bs-toggle="modal" data-bs-target="#exampleModal"> </i></a>
                </li>
            </ul>
        </nav>

    </header>
</body>

