/*redes header*/
.fa-brands.fa-square-instagram.fa-2xl:hover{
color:rgb(255, 0, 255)
}
.fa-brands.fa-facebook.fa-2xl:hover{
    color:rgb(38, 78, 159);
    }
 .fa-brands.fa-linkedin-in.fa-2xl:hover{
        color:rgb(59, 178, 207);
        }
  .fa-solid.fa-user-lock:hover{
                color:rgb(73, 140, 167); 
                }
.fa-brands.fa-github.fa-2xl:hover{
    color:rgba(10, 27, 124, 0.918);
} 
/*nombre desplegable de la red*/
.list-group-item a{
    text-decoration: none;
    position: relative;
	transition: all 500ms ease;
    
}
#titulo{
    color: black;
    }
.list-group{
       --bs-link-color: black;
}
.list-group-item #titulo{
    position: absolute;
	background: transparent;
	padding: 0px 8px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-radius: 3px;
	font-size: 15px;
	top:12px; left: -30px;
	transition: all 500ms ease;
	opacity: 0;
	visibility: hidden;
	z-index: -1;
}
.fa-brands.fa-facebook.fa-2xl:hover #titulo {
            opacity: 1;
        visibility: visible;
        top: 32px;
  }
.fa-brands.fa-square-instagram.fa-2xl:hover #titulo {
    opacity: 1;
    visibility: visible;
    top: 21px;
    }
 .fa-brands.fa-linkedin-in.fa-2xl:hover #titulo {
        opacity: 1;
        visibility: visible;
        top: 32px;
        }
.fa-brands.fa-github.fa-2xl:hover #titulo {
    opacity: 1;
    visibility: visible;
    top: 32px;
    }
/*fuente del body*/
h1, h2, h5, h4{
    font-family: 'Roboto Mono', monospace;
}
/*banner*/
.intro{
    padding-top: 10%;
   }
h1.intro{
    font-size: 3rem;

}
section.banner{
    background-image: url(../img/pexels-cottonbro-5185159\(1\).png);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    position: relative;
    
    -webkit-background-size: cover;
    -moz-backgroud-size: cover;
    -moz-background-size: cover;
    -msn-background-size: cover;
    background-size: cover;
   }
   /*videobanner*/
  
 .vid{
    padding-bottom: 5%;
    padding-top: 5%;
    opacity: 0.7;
    height: 67vh;
   }
 
      .fondo-section{
    background: url(../img/fondopc.jpg);   
    -webkit-background-size: cover;
    -moz-backgroud-size: cover;
    -moz-background-size: cover;
    -msn-background-size: cover; 
}

section.about{
    margin-top: 5%;
    margin-bottom: 20%;
    /*background-color: rgba(240, 233, 233, 0.5);*/
    /*gradiente secciones*/
    background: #bdc3c7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    padding-top: 2%;
    padding-bottom: 2%;
}
/*zoom imagenes*/
.zoom{
    overflow: hidden;
}
.zoom img{
    transition: 0.7s;
    object-fit: cover;
}
img:hover {
   transform: scale(1.07);
}
/*gradiente progress bar*/
.progress-bar {
  background: #4b6cb7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #182848, #4b6cb7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #182848, #4b6cb7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#proyectos{
    margin-bottom: 1%;
}

.slide{
margin-top: 10px;
}
.slide img{
        height: 40vh;
    }
        .btn-primary{
        margin-top: 1%;      
    }
footer.bg-black{
        width: 100%;
        height: 100%;
        padding: 1rem;
    }
    .col-6,
    .col-9
    {
        background: #E0EAFC;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #CFDEF3, #e0eafc44);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #CFDEF3, #e0eafc10); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }
   /*------responsive index-------*/
   @media screen and (max-width:1024px) {
    .intro{
        padding-top:20%;
             }
   }
   @media screen and (max-width:480px) {
    .vid{
background: #4b6bb7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #182848, #4b6cb7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #182848, #4b6cb7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }
  .intro{
        padding-top:18%;
             }
.intro2{
    padding-bottom: 8%;
  }
  .rspsv{
    flex-direction: column;
    padding-left: 28%;
    width: 130%;
    
  }
      }
    /*--------dashboard--------*/
    .bodydash{
        background-color: rgb(186, 191, 198);
    }
    section.dashboard{
        margin-top: 15%;
        
    }
 
.btna{
color: blue;
}
.ancho{
    height: 40px;
    }
.modal-header{
    color: rgb(247, 239, 239);
  background-color: black; 
}
.caja1{
   margin-left: 2rem; 
          }
.fondo{
        background-color: rgba(159, 151, 196, 0.493);
       
       }
/*----login-----*/
.bodylogin{
        margin-top: 18%;
        padding-left: 10%;
        padding-right: 10%;
        margin-bottom: 10%;
     height: 51vh;
     background-color: rgb(233, 222, 232);
       }
.textologin{
        text-align: center;
       }
.btn1{
    color: brown;
}
/*----responsive login----*/
@media screen and (max-width:991px){
    .bodylogin {
    margin-top: 25%;
    }
}
@media only screen and (max-width:768px){
    .bodylogin {
        margin-top: 33%;
        }  
}
@media screen and (max-width:480px){
    
}
/*------responsive dashboard-------*/
@media screen and (max-width:991px){
    section.dashboard{
        margin-top: 25%;
        width: 100%o;
     }  
     }
@media only screen and (max-width:768px){
    section.dashboard{
        margin-top: 25%;
        
             }  
.bar-resp{
    flex-direction: column;
    padding-left: 17%;
    margin-top: 25%;
    }
.botonera {
    margin-bottom: 10%;
    background: #000;
   }
  
.redes{
  width: 150%;
  background: #000;
 
}
}